@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** COLORS 

#b9e6f7 light blue
#85c3fe blue
#dcec94 lime
#e8d53a gold
#aa9c31 dark yellow

**/

body {
	font-family: 'Open Sans';
}

h1 {
	font-weight: bold;
}



/* MENU BAR */

ul.menu-bar {
	display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #85c3fe;
    margin-top: -30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
}

ul.menu-bar li {
    float: left;
    border-right: 1px solid #b9e6f7;
}

ul.menu-bar li:last-child {
    border-right: none;
}

ul.menu-bar li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu-bar li a:hover:not(.active) {
    background-color: #b9e6f7;
}

ul.menu-bar li a.active {
	font-weight: bold;
    background-color: #b9e6f7;
}

/* CONTENT */

.jumbotron{
	margin-top: 20px;
	background-color: #b9e6f7; /*Light blue*/
}

.content{
	background-color: #dcec94;

	text-align: center;
	margin-bottom: 20px;
	border-top: 1px darkgreen solid;
	border-bottom: 1px darkgreen solid;
	border-radius: 10px;
	border-color: green;
}

.btnGetWeather {
	border: 1px solid #b8d17b;
	text-shadow: 0px 0px black;
	font-size: 18px;
	color: black;
	background-color: #eaf4be;
	margin: 10px;
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black;


}

.btnGetWeather:hover {
	background-color: #e3f0a8;
}

.btnGetWeather:focus {
	outline: none;
}

.btnGetWeather:active {
	box-shadow: 1px 1px 0px #404040;
}

#tempSpan {
	font-weight: bold;
}

.lastRow{
	font-weight: bold;
}